/*
// color-palette.scss
*/

// Sample Color Palette

// Grays
$color-white: #ffffff;
$color-lt-gray: #e0e0e0;
$color-md-gray: #999999;
$color-dk-gray: #333333;
$color-black: #000000;

// Blue-Grays
$color-lt-bluegray: #e0e4eb;
$color-md-bluegray: #9c9fac;
$color-dk-bluegray: #57575a;
$color-xd-bluegray: #1c1d22;

// Blues
$color-lt-blue: #B2D0FF;
$color-md-blue: #326EC8;
$color-mm-blue: #646E93;
$color-dk-blue: #26416C;

// Greens
$color-green: 	 #9FCF67;
$color-dk-green: #074a36;

// Oranges
$color-orange: #C63604;
