// "To debug or not to debug, that is the question" -E.Reid
$debug: false;

// Customization of font-awesome variables
$fa-font-path:   "../fonts/font-awesome";

/* ----------------------------------------*/
/* Site-wide Font definitions              */

// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('http://fonts.googleapis.com/css?family=Oswald:300');

// Font variables

$font-family-open-sans: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-gotham-narrow: 'Gotham Narrow';
$font-family-oswald: 'Oswald', HelveticaNeue, 'Helvetica Neue', sans-serif;

$font-family-default: $font-family-open-sans;

// Font definitions per section
$my-base-font-size: 10px;
$my-text-font-size: 15px;
$my-text-line-height: 19px;

/* ----------------------------------------*/
/* Site-wide padding/margin definitions    */

$my-body-gutter: 5%;
$my-section-padding: 20px;
$my-section-margin: 25px;
$my-tile-padding: 15px;
$my-tile-margin: 20px;

/* ----------------------------------------*/
/* Site-wide Grid breakpoint definitions   */

$grid-columns: 12; // Set to the default for the moment
$grid-gutter-width: 0; // Most of the layouts do not need gutters
$grid-float-breakpoint: 768px; // Changing the point at which we switch to hamburger nav

/* Device widths */
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$sm-tablet-portrait: 600px;
$tablet-portrait: 768px;         // $screen-sm-min
$sm-tablet-landscape: 800px;
                                // $screen-md-min
$tablet-landscape: 1024px;
$sm-desktop: 1024px;
$md-desktop: 1200px;            // $screen-lg-min
$lg-desktop: 1600px;

/* Mobile Navigation Width */
$my-mobile-nav-width: $mobile-portrait;

/* Media breakpoints */
$my-media-xxs: $mobile-portrait;
$my-media-xs: $mobile-landscape;
$my-media-sm: $tablet-portrait;
$my-media-md: $tablet-landscape;
$my-media-lg: $md-desktop;
$my-media-xl: $lg-desktop;

$my-media-screen-xxs: "screen and (min-width: #{$my-media-xxs})";
$my-media-screen-xs: "screen and (min-width: #{$my-media-xs})";
$my-media-screen-sm: "screen and (min-width: #{$my-media-sm})";
$my-media-screen-md: "screen and (min-width: #{$my-media-md})";
$my-media-screen-lg: "screen and (min-width: #{$my-media-lg})";
$my-media-screen-xl: "screen and (min-width: #{$my-media-xl})";

$my-media-screen-xs-max: "screen and (max-width: (#{$my-media-sm - 1}))";
$my-media-screen-sm-max: "screen and (max-width: (#{$my-media-md - 1}))";
$my-media-screen-md-max: "screen and (max-width: (#{$my-media-lg - 1}))";
$my-media-screen-lg-max: "screen and (max-width: (#{$my-media-xl - 1}))";

$my-media-nav-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";
